<hr style="margin-bottom: 0px;">
<!--About the firm-->
        <section class="team">
        <div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-md-10 col-sm-offset-1 text-center">
						<h1>SOMALIA PEACE DEVELOPMENT INTEGRATION(SPDI)</h1><div class="border center-block"></div>
						<h5 class="tagline">Founded in 2016 and duly registered as per the relevant laws of Kenya, Somali Peace Development Integration is a multi-faceted organization that was founded by a group of dedicated individuals who share the passion of becoming peace ambassadors after years of experience in the fields of socio-economic empowerment of the people. The organization specializes in the fostering of peace in the rather not so peaceful environment of the horn of Africa.
						Somali Peace Development Integration has access for all skilled and experienced professionals who have capacity and competent to involve all the desired activities that promotes the Goal and Objectives of the Institution.
						The professional staff of Management whom periodically review their activities to appraise and provide them Human resource development trainings on the job trainings and technical assistance to undertake systematically their duties and responsibilities
						Our core values are integrity, honesty, excellence, quality provision of goods and services to every client and customer who comes to our door
						</h5>
						<h2>Our Values</h2>
						<ul style="text-align: left;">
							<li><strong>Service:</strong>  We strive for excellence, continuous improvement and value for the community and students.</li>
							<li><strong>Teamwork:</strong>  We communicate and co-operate with each other and with our both communities.</li>
							<li><strong>Integrity:</strong>  We act with commitment, honesty, openness and respect for others.</li>
							<li><strong>Recognition:</strong>  We appreciate and acknowledge effort and we celebrate</li>
							<li><strong>Satisfaction:</strong>  We take pride in our work and we have fun together</li>
						</ul>
						<h1>Our Objectives</h1>
						<ul style="text-align: left;">
							<li> To promote peace and reconciliation among the Somali to promote the socio-economic development of the region</li>
							<li>To promote income generating activities and create vocational skills for the youngsters, women, and IDPs to become self-sufficient and reduce the level of poverty living.</li>
							<li>To improve the rights of women focusing on the issues such as female genital mutilations FGM, early marriage, and other forms of discriminations against girls and women </li>
							<li>o promote Understanding better relationship among the communities and attitude change for working together for peace and development in the society and creating good atmosphere of stability in whole the state including environmental protection and wildlife.</li>
							<li>To encourage the community for sustainable development and mobilize among them awareness on HIV/Aids</li>
							<li>To promote internal discussions among human rights activists, on the work of media and journalists toward contribute to national heal and development. </li>
							<li>To promote a human rights culture and peace in society by working towards awareness raising, mobilization, on attitude change and empowerment of the marginalized community, IDPs, women, children, CBOs, and involved Local NGOs and the government law enforcement institutions/agencies in order to protect the rights all persons (women and child rights especial focus). </li>
							<li>To document the ongoing violations of human rights in the country and submit to the concerned agencies in order to bring the criminals and perpetrators on justice whenever possible</li>
							<li>To closely monitor human atrocities and abuses of the children in the conflict zone and avoid those problems of Child soldering, Child Exploitative labor, and Child abuse such as (physically, mentally and socially ) through community mobilization, parents and care givers.</li>
						</ul>
						<h1>Methodology</h1>
						<ul style="text-align: left;">
							<li>Classroom training</li>
							<li>classes on reconciliation</li>
							<li>group studies among the community</li>
							<li>Practical solving of community problems</li>
						</ul>
						<h2>Our Strength</h2>
						<ul style="text-align: left;">
							<li>Our strong value-based, ethical teaching functioning.</li>
							<li>Astute professionals associated with us, having in depth knowledge of different areas of Peace and Reconciliation.</li>
							<li>Multiple sourcing techniques including excellent books and other resources from all over the country.</li>
							<li>Ability to attract a wider talent pool of potential applicants from all over Country.</li>
							<li>Prompt action coupled with value added services and additional options of deploying decision.</li>

						</ul>
						<h1>Ethics</h1><div class="border center-block"></div>
						<li class="tagline">By demonstrating to the community that we meet high ethical standards in all aspects of our work, and that we are committed to helping address challenges, we can maintain their support. Our reputation, the standards we operate to and our employment practices also affect our ability to attract, retain and motivate the best people.</li>
						<h1>Benefits to our clients</h1>
						<ul style="text-align: left;">
							<li>free training cost</li>
							<li>Fast delivery of service</li>
							<li>Improved learning conditions</li>
							<li>Focus on the core of teaching</li>
						</ul>
					</div>
				</div>	
			</div>
        	
        </section>
        <!--end-->
