.jumbotron
  %h1 Sign up
  %h3 Membership for everyone
.row
  .col-md-6
    .well
      %h2.text-center Citizen Membership
      %h4 Sign up for free to get free access to the platform
      = link_to 'Sign up free', new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block'
  .col-md-6
    .well
      %h2.text-center Candidate Membership
      %h4 Sign up for candidate acount for $20 for commitment fee
      = link_to 'Sign up premium', new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block'
